<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1.0" name="viewport"/>
    <title>User profile project</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="./static/css/style.css" media="screen,projection" rel="stylesheet" type="text/css"/>
    <link href="./static/css/materialize.css" media="screen,projection" rel="stylesheet" type="text/css"/>
    <script src="./static/js/vue.js"></script>
    <script src="./static/js/vue-resource@1.5.1.js"></script>
</head>
<body>
<div id="app">
    <nav class="blue darken-4">
        <div class="nav-wrapper">
            <a class="modal-trigger brand-logo" href="#modal1" v-on:click="get_static_query_terms"><i class="material-icons">perm_identity</i>
                <span v-if="email.length === 0">Identify yourself for a user profile search</span>
                <span v-else>You are [[ email ]]</span>
            </a>
        </div>
    </nav>

    <!-- Modal Trigger -->

    <!-- Modal Structure -->
    <div class="modal" id="modal1">
        <div class="modal-content">
            <h4>Static user profile settings</h4>
            <div class="row">
                <div class="col s10">
                    <input class="validate" id="email" placeholder="Enter your email" type="email" v-model="modal_email" v-on:keyup="mail_changed_true" />
                </div>
                <div class="col s2">
                    <button class="right btn" v-on:click="refresh_email"><i class="material-icons">refresh</i></button>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <input type="number" id="age" v-model="age" v-bind:disabled="mail_changed">
                    <label for="age">Age:</label>
                </div>
                <div class="col s6">
                    <input type="text" id="gender" v-model="gender" v-bind:disabled="mail_changed">
                    <label for="gender">Gender:</label>
                </div>
            </div>
            <div class="row">
                <input type="text" id="lang" v-model="lang" v-bind:disabled="mail_changed">
                <label for="lang">Language:</label>
            </div>
            <div class="row">
                <div class="col s6">
                    <input type="text" id="city" v-model="city" v-bind:disabled="mail_changed">
                    <label for="city">City:</label>
                </div>
                <div class="col s6">
                    <input type="text" id="country" v-model="country" v-bind:disabled="mail_changed">
                    <label for="country">Country:</label>
                </div>
            </div>

            <div class="chips" v-bind:disabled="mail_changed"></div>
        </div>
        <div class="modal-footer">
            <button class="modal-close waves-effect waves-green btn" v-bind:disabled="mail_changed" v-on:click="submit_user_profile"><i class="material-icons">check</i></button>
        </div>
    </div>

    <div class="section no-pad" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center grey-text text-darken-2">User profile project</h1>
            <h5 class="header center grey-text text-darken-2">DD2476 - Search Engines and Information Retrieval</h5>
        </div>
    </div>

    <form class="valign-wrapper" v-on:submit.prevent="search(query, 0)">
        <div class="container">
            <div class="row valign-wrapper">
                <div class="col s1">
                    <i class="material-icons">search</i>
                </div>
                <div class="col input-field s10">
                    <input id="search" required type="search" v-model="query"/>
                </div>
                <div class="col offset-s1 s1">
                    <button class="btn-floating btn-large waves-effect waves-light grey" type="submit"><i
                            class="material-icons right">search</i></button>
                </div>
            </div>
        </div>
    </form>

    <div class="container">
        <ul class="collection with-header">
            <li style="padding: 5px;"><h4>Search results <span v-if="searching == false && n_results > 0">( [[ current_page * results_per_page + 1]]-[[ Math.min((current_page + 1) * results_per_page, n_results)]] / [[ n_results ]] )</span><span
                    v-else>(0)</span></h4></li>
            <div class="progress" v-if="searching">
                <div class="indeterminate"></div>
            </div>
            <li v-else v-for="item in results">
                <div class="collection-header" style="display: block"><span
                        style="padding-right: 20px;">[[ item.pos ]]</span>[[ item.string ]]
                    <div class="right"><span class="green-text">Previous score: [[ item.score ]]</span> | <span
                            class="blue-text">Modified score: [[ item.score ]]</span> | <span style="cursor: pointer"
                                                                                              v-on:click="click_link(item.id, item.url)">Link: <span
                            class="secondary-content"><i
                            class="material-icons blue-text">send</i></span></span></div>
                </div>
                <div class="collection-item">[[ item.synopsys ]]...</div>
                <br>
            </li>
        </ul>

        <ul class="pagination center">
            <li :class="{ disabled: current_page == 0 }"><a href="#!"
                                                            v-on:click="current_page > 0 ? search(query, current_page - 1) : 0"><i
                    class="material-icons">chevron_left</i></a></li>
            <li :class="{ active: current_page == page }" class="waves-effect" v-for="page in range_pages()"><a
                    href="#!" v-on:click="search(query, page)">[[ page >= 0 && page < results_pages() ? (" " + (page +
                1)).slice(-4) : " "]]</a></li>
            <li :class="{ disabled: current_page == results_pages() - 1 }"><a href="#!"
                                                                              v-on:click="current_page < results_pages() - 1 ? search(query, current_page + 1) : 0"><i
                    class="material-icons">chevron_right</i></a></li>
        </ul>
    </div>

    <footer class="page-footer blue">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Group 3</h5>
                    <ul>
                        <li>Sergio Liberman Bronfman</li>
                        <li>Chun Hung Lin</li>
                        <li>Björn Lindqvist</li>
                        <li>Anton Lu</li>
                    </ul>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    Made with <a class="blue-text text-lighten-3" href="http://materializecss.com">Materialize</a>, <a
                        class="blue-text text-lighten-3" href="#">Vue.js</a>, <a class="blue-text text-lighten-3"
                                                                                 href="#">Flask</a>
                    and <a class="blue-text text-lighten-3" href="#">Elasticsearch</a>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="./static/js/jquery-3.4.0.js"></script>
<script src="./static/js/materialize.js"></script>
<script src="./static/js/init.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vue-cookies@1.5.13/vue-cookies.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            results: [],
            query: "",
            modal_email: "",
            email: "",
            age: 0,
            gender: "",
            lang: "",
            city: "",
            country: "",
            searching: false,
            current_page: 0,
            n_results: 0,
            results_per_page: 50,
            search_url: "/search",
            log_url: "/log",
            mail_changed: false
        },
        methods: {
            search: function (query, page) {
                this.searching = true

                this.$http.post(this.search_url, {
                    email: this.email,
                    results_size: this.results_per_page,
                    query: query,
                    results_from: page * this.results_per_page
                }).then(success_response => {
                    this.results = success_response.body.results
                    this.n_results = success_response.body.n_results
                    this.searching = false
                    this.current_page = page
                }, failed_response => {
                    this.results.splice(0, this.results.length)
                })
            },
            results_pages: function () {
                return Math.ceil(this.n_results / this.results_per_page)
            },
            range_pages: function () {
                var res = new Array();
                min = this.current_page - 5
                max = this.current_page + 5
                for (i = min; i < max; i++) {
                    res.push(i)
                }
                return res
            },
            click_link: function (element_id, url) {
                window.open(url)
                this.$http.post(this.log_url + "/click", {
                    "email": this.email.value,
                    "doc_id": element_id
                }).then(success_response => {

                }, failed_response => {

                })
            },
            get_static_query_terms: function () {
                this.$http.get("/static_profile?email=" + this.email).then(response => {
                    instance = M.Chips.getInstance($('.chips'));
                    for (i = instance.chipsData.length - 1; i >= 0; i--) {
                        instance.deleteChip(i)
                    }
                    Object.keys(response.body).forEach(i => {
                        instance.addChip({"tag": i});
                    })
                }, failed_response => {

                })
            },
            submit_user_profile: function () {
                instance = M.Chips.getInstance($('.chips'));
                terms = [];
                for (i = instance.chipsData.length - 1; i >= 0; i--) {
                        terms.push(instance.chipsData[i].tag);
                }

                var profile = {
                    email: this.email,
                    age: this.age,
                    gender: this.gender,
                    lang: this.lang,
                    city: this.city,
                    country: this.country
                };
                this.$http.post("/user_profile?email=" + this.email, profile).then(response => {});
                this.$http.post("/static_profile?email=" + this.email, {
                    terms: terms
                }).then(response => {
                    this.get_static_query_terms();
                    this.get_user_profile();
                }, failed_response => {

                })
            },
            get_user_profile: function () {
                this.$http.get("/user_profile?email=" + this.email).then(
                    request => {
                        this.age = request.body.age,
                        this.gender = request.body.gender,
                        this.lang = request.body.lang,
                        this.city = request.body.city,
                        this.country = request.body.country
                    }
                )
            },
            refresh_email: function () {
                this.email = this.modal_email;
                this.$cookies.set("prev_email", this.email, "30d");
                this.get_static_query_terms(this.email);
                this.get_user_profile();
                this.mail_changed = false;
            },
            mail_changed_true: function () {
                this.mail_changed = true;
            }
        },
        created: function () {
            $(document).ready(function () {
                $('.modal').modal({
                    dismissible: false
                });
                $('.chips').chips({
                    placeholder: 'Query terms',
                    secondaryPlaceholder: '+Term'
                });
            });
        },
        mounted: function () {
            if (this.$cookies.isKey("prev_email") === true) {
                this.modal_email = this.email = this.$cookies.get("prev_email");
                this.get_user_profile(this.email);
            }
        }
    })
</script>

</body>
</html>
